In [1]:
import numpy as np 
import pandas as pd 
from bs4 import BeautifulSoup
from urllib.request import urlopen

In [2]:
quote_page = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [3]:
#query the website and return the html to the variable ‘page’
page = urlopen(quote_page)
soup = BeautifulSoup(page, 'html.parser') #store in variable `soup`

In [89]:
#extract table and convert into dataframe
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))[0]
df=pd.DataFrame(df)
header = df.iloc[0]
df = df[1:]
df = df.rename(columns = header)
df.head(15)

   Postcode           Borough     Neighbourhood
1       M1A      Not assigned      Not assigned
2       M2A      Not assigned      Not assigned
3       M3A        North York         Parkwoods
4       M4A        North York  Victoria Village
5       M5A  Downtown Toronto      Harbourfront
6       M5A  Downtown Toronto       Regent Park
7       M6A        North York  Lawrence Heights
8       M6A        North York    Lawrence Manor
9       M7A      Queen's Park      Not assigned
10      M8A      Not assigned      Not assigned
11      M9A         Etobicoke  Islington Avenue
12      M1B       Scarborough             Rouge
13      M1B       Scarborough           Malvern
14      M2B      Not assigned      Not assigned
15      M3B        North York   Don Mills North

In [138]:
# rows wich has duplicate value of Postcode will be combined into one row
#with the neighborhoods separated with a comma 
df_new = df.groupby(['Postcode','Borough'], sort=False)['Neighbourhood'].apply(', '.join).reset_index()

In [167]:
#change value of Neighbourhood: if Borough isn't 'Not assigned', Neighbourhood = Borough  
for i in range(0, len(df_new)):
    if df_new['Neighbourhood'].iloc[i] =='Not assigned':
        df_new['Neighbourhood'].values[i] = df_new['Borough'].values[i]

In [169]:
df_new.head(10) #show new dataframe

  Postcode           Borough                     Neighbourhood
0      M1A      Not assigned                      Not assigned
1      M2A      Not assigned                      Not assigned
2      M3A        North York                         Parkwoods
3      M4A        North York                  Victoria Village
4      M5A  Downtown Toronto         Harbourfront, Regent Park
5      M6A        North York  Lawrence Heights, Lawrence Manor
6      M7A      Queen's Park                      Queen's Park
7      M8A      Not assigned                      Not assigned
8      M9A         Etobicoke                  Islington Avenue
9      M1B       Scarborough                    Rouge, Malvern